#minji{
    background-image: url(../../public/img/nj2.png);
    height: 50vh;
    width: 30vh;
    background-size: cover;
}

#minji:hover{
    transform: translateY(-5px);
}

.contenedor-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.bienvenida{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interactivo{
    display: flex;
}

.interactivo input{
    width: 100px;
    border: 1px solid pink;
    border-radius: 50px;
}

.interactivo button{
    border: 1px solid pink;
    background-color: white;
    color: pink;
    border-radius: 50px;
    padding: 2px 15px;
}


.coso{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid white;
    width: 15ch;
    height: 15px;
    animation: typing 4s steps(15) infinite, blink .5s infinite step-end alternate;
    overflow: hidden;
    
}

@keyframes typing{
    from { width: 0; }
}

@keyframes blink {
    50% {border-color: transparent;}
}